<div class="main container">
  <div class="row">
    <div style="width: 250px;" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let ad of ads">
      <div class="card h-100">
        <img 
          class="card-img-top img-fluid" 
          [src]="ad.image_path" 
          alt="{{ ad.title }}" 
          style="height: 150px; object-fit: cover; width: 100%; border-bottom: 1px solid #ccc;">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <p class="card-text">{{ ad.price}}</p>
          </div>
          <a href="#" class="btn btn-primary mt-2">Kosárba</a>
        </div>
      </div>
    </div>
  </div>
</div>
