<div class="main">
  <hr />
  <div class="title middle">
    <h6>Filter</h6>
  </div>
  <hr />
  <div class="row pt-3">
    <div class="col-12">
      <div class="accordion" id="categoryAccordion">
        <div class="accordion-item" *ngFor="let category of categories; let i = index">
          <h2 class="accordion-header" [id]="'heading' + i">
            <button
              class="accordion-button"
              type="button"
              [class.collapsed]="selectedCategory?.key !== category.key"
              [attr.aria-expanded]="selectedCategory?.key === category.key ? 'true' : 'false'"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i"
              (click)="selectCategory(category)"
            >
              {{ category.name }}
            </button>
          </h2>
          <div
            [id]="'collapse' + i"
            class="accordion-collapse collapse"
            [class.show]="selectedCategory?.key === category.key"
            [attr.aria-labelledby]="'heading' + i"
            data-bs-parent="#categoryAccordion"
          >
            <div class="accordion-body">
              {{ category.description || 'Nincs leírás ehhez a kategóriához.' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
